# **TUGAS ALGORITMA DAN STRUKTUR DATA IV**


Pembahasan materi :
1. While Loop
2. List
3. Metoda List
4. For Loop
5. Fungsi Range

# Pembahasan 1 : While Loop


While Loop akan selalu dieksekusi atau dijalankan selama nilainya TRUE atau BENAR dan akan berhenti saat nilainya menjadi FALSE atau SALAH. Pada While Loop akan dilakukan pengecekan kondisi terlebih dahulu. Adapun contoh dari penerapan While Loop adalah sebagai berikut :

In [38]:
#deklarasikan nilai a lebih dulu
a = 0
while a < 7 : 
  print("Angka " + str(a) + " masih di bawah kkm" )
  a += 1
#ini akan dilakukan eksekusi mulai dari a=0 kemudian dilanjutkan dengan a=1 
#hingga a=6 karena syarat yang diberikan adalah a<7 sehingga 7 tidak termasuk
#eksekusi akan dijalankan selama nilainya true dan berhenti jika datanya 
#menghasilkan false

Angka 0 masih di bawah kkm
Angka 1 masih di bawah kkm
Angka 2 masih di bawah kkm
Angka 3 masih di bawah kkm
Angka 4 masih di bawah kkm
Angka 5 masih di bawah kkm
Angka 6 masih di bawah kkm

In [50]:
#deklarasikan nilai a
a = 1
while a < 8 :
  print("Anda tidak lulus")
  a += 1
#sesuai dengan penjelasan sebelumnya, maka ini akan dilakukan perulangan hingga
#a=7 
#untuk a+ itu artinya setiap nilai a akan dinaikkan 1 untuk dieksekusi 
#misal a pertama = 1, kemudian a selanjutnya yang akan dieksekusi adalah 2 
#begitu pun seterusnya

Anda tidak lulus
Anda tidak lulus
Anda tidak lulus
Anda tidak lulus
Anda tidak lulus
Anda tidak lulus
Anda tidak lulus

In [52]:
#deklarasikan a
a = 0
while a <= 10 :
  print("Perulangan selesai")
  a += 1
#ini penjelasannya juga sama, hanya saja perulangannya lebih banyak 
#sesuai dengan syarat yang diberikan

Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai
Perulangan selesai

# Pembahasan 2 : List


List digunakan untuk merepresentasikan objek dalam Phyton yang berupa string maupun angka. List dapat digunakan untuk memanggil urutannya bahkan dapat digunakan untuk merubah isinya. Adapun contoh dari penerapan List adalah sebagai berikut :

In [53]:
#deklarasikan bunga
bunga = ['Anggrek', 'Jempiring', 'Melati', 'Mawar', 'Teratai']
print(bunga)
#ini akan dikeluarkan hasil sesuai dengan data yang telah dideklarasikan

['Anggrek', 'Jempiring', 'Melati', 'Mawar', 'Teratai']

In [54]:
print(bunga[3])
#ini untuk memanggil indeks ke-3 yang ada pada data kita

Mawar

In [59]:
print(bunga[-1])
#ini juga untuk memanggil indeks ke (-1) atau data terakhir 
#sesuai dengan penjelasan terdahulu bahwa indeks -1 untuk menandakan data 
#paling akhir atau data pertama dari belakang

Teratai

In [60]:
print(bunga[-3])
#ini juga untuk memanggil indeks -3 yaitu data ketiga dari belakang bernilai -3
#untuk data minus itu artinya dipanggil dari urutan data paling belakang

Melati

In [61]:
bunga[-4] = 'Sandat'
print(bunga)
#ini untuk memanggil indeks -4 yaitu data keempat dari belakang bernilai -4
#pada contoh ini untuk indeks -4 itu diganti jadi sandat dari awalnya jempiring
#jadi ini berfungsi untuk menggantikan data sebelumnya dengan data baru yang
#akan kita input

['Anggrek', 'Sandat', 'Melati', 'Mawar', 'Teratai']

# Pembahasan 3 : Metoda List

Seperti yang telah dijelaskan sebelumnya yaitu, list dapat dimanipulasi dengan menambahkan atau menghilangkan elemen-elemen yang ada di dalam data atau objek tersebut. misal kita memiliki nilai a,b,c lalu kita ingin menambahkan d,e dan f atau pun mau menghapuskan a dan b, itu bisa menggunakan metoda list. Untuk contoh pembahasannya adalah sebagai berikut :

In [71]:
#Deklarasi List
list_nilai = [2,4,6,8,10]

#menampilkan list dari data yang telah dideklarasikan
print(list_nilai)

[2, 4, 6, 8, 10]

In [72]:
#menggunakan len
print(len(list_nilai))
#ini untuk menentukan jumlah atau banyaknya data atau panjang data

5

In [74]:
#menggunakan count
print("Jumlah nilai 6 dalam List :")
list_nilai.count(6)
#ini dipakai untuk mengetahui jumlah atau banyaknya nilai tersebut ada berapa

Jumlah nilai 6 dalam List :

1

In [83]:
#menggunakan append
list_nilai.append(1)
list_nilai.append(3)
list_nilai.append(5)
print(list_nilai)
#ini digunakan untuk menambahkan satu atau beberapa elemen ke dalam data yang 
#kita miliki

[2, 4, 6, 8, 10, 1, 3, 5]

In [82]:
#menggunakan remove
list_nilai.remove(1)
list_nilai.remove(3)
list_nilai.remove(5)
print(list_nilai)

[2, 4, 6, 8, 10]

In [89]:
#menggunakan indeks
list_nilai.index(4)
#ini digunakan untuk menentukan posisi atau indeks dari data yang kita cari

1

In [100]:
#menggunakan insert
list_nilai = [2,4,6,8,10]
list_nilai.insert(0, 1)
print(list_nilai)
#insert digunakan untuk menambahkan suatu data pada data yang telah dimiliki
#insert digunakan untuk menentukan posisinya misalnya pada indeks 0 ataupun pada 
#indeks yang lainnya

[1, 2, 4, 6, 8, 10]

In [105]:
#menggunakan extend
list_nilai2 = [12,14,16]
list_nilai.extend(list_nilai2)
print(list_nilai)
#ini digunakan untuk menambahkan beberapa data dalam jumlah yang banyak

[1, 2, 4, 6, 8, 10, 12, 14, 16]

In [109]:
#menggunakan reverse
list_nilai.reverse()
print(list_nilai)
#ini digunakan untuk membalikkan urutan data dari yang awalnya 1,2,4,6,8,10,12,
#14,16 jadi 16,14,12,10,8,6,4,2,1

[16, 14, 12, 10, 8, 6, 4, 2, 1]

In [110]:
#menggunakan sort
list_nilai.sort()
print(list_nilai)
#ini digunakan untuk mengurutkan nilai dari yang terkecil ke terbesar

[1, 2, 4, 6, 8, 10, 12, 14, 16]

In [114]:
#menggunakan max
max(list_nilai)
#sesuai namanya, ini digunakan untuk mencari nilai tertinggi dari data yang kita
#miliki

16

In [115]:
#menggunakan min
min(list_nilai)
#min ini digunakan untuk mencari nilai terendah dalam data yang kita punya

1

In [116]:
#menggunakan sum
sum(list_nilai)
#sum digunakan untuk menghitung jumlah dari data yang kita punya

73

# Pembahasan 4 : For Loop

For Loop ini dapat digunakan untuk memanggil semua isi list. For loop merupakan salah satu jenis pengulangan yang sudah diketahui kapan mulainya dan kapan akan selesai. Pada For Loop ini terjadi eksekusi terhadap blok kode yang dilakukan berulang kali sesuai dengan variabel yang mengatur perulangan. Adapun contoh penerapan For Loop adalah :

In [123]:
warna = ['merah', 'kuning','hijau','biru']
buah = ['apel', 'lemon', 'mangga', 'blueberry']
for x in warna : 
  for y in buah :
    print(x,y)
#ini digunakan untuk melakukan perulangan x,y sesuai dengan data yang telah
#dideklarasikan sebelumnya
#for loop disini digunakan untuk memanggil seluruh isi list yang ada

merah apel
merah lemon
merah mangga
merah blueberry
kuning apel
kuning lemon
kuning mangga
kuning blueberry
hijau apel
hijau lemon
hijau mangga
hijau blueberry
biru apel
biru lemon
biru mangga
biru blueberry

In [134]:
mahasiswa = ['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
for nama in mahasiswa :
  print (mahasiswa)
#ini dilakukan perulangan sebanyak jumlah data yang dimiliki

['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']
['putu', 'made', 'komang', 'ketut', 'luh', 'wayan']

In [133]:
mahasiswa = ['putu', 'made', 
             'komang', 'ketut', 'luh', 'wayan']
for nama in mahasiswa :
  print (nama)
#ini untuk menghasilkan nama-nama mahasiswanya ada apa aja. 
#kalau contoh atas dia buat mahasiswa dengan nama itu diulang sebanyak data 
#yang kita miliki
#mahasiswa itu dipandang sebagai 1 kesatuan sehingga diulang terus sejumlah data
#mahasiswanya yaitu 6 kali

putu
made
komang
ketut
luh
wayan

In [130]:
benda = ['lemari','meja','kaca']
for jenis in benda :
  print (benda)
#ini perulangan yang dikeluarkan sesuai jumlah data benda yang dimiliki

['lemari', 'meja', 'kaca']
['lemari', 'meja', 'kaca']
['lemari', 'meja', 'kaca']

In [132]:
benda = ['lemari','meja','kaca']
for jenis in benda :
  print (jenis)
#ini untuk luarannya adalah jenis,jadi ga semua bendanya diulang tapi jenis 
#bendanya apa aja maka itu yang akan dikeluarkan

lemari
meja
kaca

# Pembahasan 5 : Fungsi Range

Fungsi range ini digunakan untuk membangkitkan bilangan berpola atau sesuai urutan (berurutan) sesuai dengan keinginan kita. Dalam penerapannya, fungsi ini dipadukan dengan For Loop. Adapun contoh penggunaan Fungsi Range adalah sebagai berikut :

In [124]:
n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
b = []
for i in n :
  b.append(i**2)
  print(b)
#proses menampilkan deret angka dilakukan oleh for dengan variabel counter i
#dipakai untuk tinggi segitiga yang dimulai dari i=1 sampai i=16
#jika pada proses input nilai berisi angka 9 maka perulangan akan dilakukan 
#sebanyak 9 kali 
#b.append itu digunakan untuk menambahkan angka di dalam [] yang telah
#dideklarasikan sebelumnya

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [135]:
nilai = range(10)
print(nilai)
#range ini digunakan untuk menyatakan interval atau rentang suatu nilai

range(0, 10)

In [137]:
for isi in nilai :
  print (isi)
#ini untuk menjabarkan nilai yang ada dalam range tersebut

0
1
2
3
4
5
6
7
8
9

In [138]:
for isi in nilai:
  print(nilai)
#kalau kaya gini dia jadinya pengulangan dari range itu sendiri sesuai jumlah 
#range atau panjang barisannya

range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)

In [144]:
for isi in range(1,15,2) :
  print (isi)
#ini digunakan untuk menjabarkan nilai dari range 1 hingga 15 dengan pola 2 
#atau bisa disebut deretan bilangan ganjil

1
3
5
7
9
11
13

In [145]:
for isi in range(20,40,2) :
  print(isi)
#ini digunakan untuk menjabarkan nilai dari range 20 sampai 40 dengan pola 2
#atau bisa disebut sebagai deretan bilangan genap

20
22
24
26
28
30
32
34
36
38