In [ ]:
print ('Saya menggunakan Phyton')
#ini digunakan untuk menampilkan / menghasilkan output yang diinginkan

Saya menggunakan Phyton

In [ ]:
print ('Saya menggunakan Phyton")
#Error karena penggunaan tanda kutip yang tidak konsisten. kita harus memakai tanda kutip yang sama yaitu antara petik satu atau petik dua

SyntaxError: ignored

In [ ]:
Nama = Ni Putu Dina Agustina
#terjadi error karena outputnya tidak ada / output yang diinginkan tidak jelas

SyntaxError: ignored

In [ ]:
NIM = 2208541043
NIM 
#output NIM nya dapat muncul karena telah didefinisikan sebelumnya sehingga dapat dikeluarkan sesuai dengan NIM yang sudah didefinisikan 
#NIM nya tidak perlu diisikan tanda petik lagi karena sudah didefinisikan sebelumnya

2208541043

In [ ]:
NIM = 2208541043
"NIM"
#output yang dihasilkan tentu berbeda dengan output pada kode NIM sebelumnya
#dengan menggunakan petik maka itu yang akan dihasilkan sebagai output/luaran

'NIM'

In [ ]:
"hallooo"
#ini contoh penggunaan petik, dia akan dikeluarkan sebagai luaran / output

'hallooo'

In [ ]:
print ('Halllooo')
#ini akan sama dengan hallo yang menggunakan petik tanpa ada print dan juga tanda kurung

Halllooo

In [ ]:
print ("I Love you \n but you don't ")
#\n digunakan untuk membuat enter atau baris baru pada kode
#pada contoh di atas tanda petiknya dapat jelas dibedakan sehingga outputnya bisa sesuai harapan

I Love you
 but you don't

In [ ]:
print ('i love you \n but you don't ')
#ini error dikarenakan tanda petiknya sama sehingga sulit dibedakan oleh komputer tentang output/luaran apa yang kita inginkan

SyntaxError: ignored

In [ ]:
nama_depan = 'Ardi'
nama_tengah = ' '
nama_belakang = 'Wedyantara'
print (nama_depan + nama_tengah + nama_belakang)
#nama_tengah merupakan parameter sehingga dapat digunakan untuk membedakan antara parameter satu dengan lainnya

Ardi Wedyantara

In [ ]:
nama depan = 'Ardi'
nama tengah = ' '
nama belakang = 'Wedyantara'
print (nama depan + nama tengah + nama belakang)
#error karena tidak didefinisikan dengan benar sehingga tidak dapat terbaca oleh sistem

SyntaxError: ignored

In [ ]:
Nama Depan = "Ardi"
Print ("Nama Depan")
#ini error karena untuk menampilkan Nama Depan seharusnya tidak usah diisikan petik karena dia sebelumnya sudah didefinisikan
#sehingga sistemnya bingung mau menghasilkan Nama Depan atau Ardi sebagai output/luarannya

SyntaxError: ignored

In [ ]:
Nama = "Ardi"
Nama 
#tidak perlu diisikan petik lagi karena dia sudah terdefinisikan sebelumnya

'Ardi'

In [ ]:
Nama = "Ardi\n Wira\n Denar\n Aldo"
Nama 
#outputnya jadi gini karena namanya sudah didefinisikan seperti ini jadi dia akan dikeluarkan seperti ini juga
#supaya outputnya jadi enter atau baris baru itu bisa pake print bukan nama

'Ardi\n Wira\n Denar\n Aldo'

In [ ]:
print ("Ardi\nWira\nDenar\nAldo ")

Ardi
Wira
Denar
Aldo

In [ ]:
Nama = input('Input Nama Anda :')
print("Selamat Pagi "+nama)
#ini error karena nama yang didefinisikan menggunakan huruf besar sementara yang dipanggil menggunakan huruf kecil 
#sehingga tidak dapat menampilkan nama yang diinginkan

Input Nama Anda :Budi

NameError: ignored

In [ ]:
Nama = input('Input Nama Anda :')
print("Selamat Pagi "+Nama)
#ini untuk membuat spasi dalam satu kalimat bisa dibuat dengan menambahkan spasi sebelum tanda petik terakhir
#Nama di sini tidak diisikan petik karena dia sudah didefinisikan sebelumnya

Input Nama Anda :Budi
Selamat Pagi Budi

In [ ]:
Nama = input('Input Nama Anda :')
print("Selamat Pagi"+ " " +Nama)
#ini juga caara lain untuk menambahkan spasi pada kalimat atau kode yang diinginkan

Input Nama Anda :Caca
Selamat Pagi Caca

In [ ]:
Dompet = 100000
Tabungan = 200000
print str(Dompet*Tabungan)
#ini error karena output yang diinginkan tidak jelas

SyntaxError: ignored

In [ ]:
Dompet = 100000
Tabungan = 200000
print (Dompet+Tabungan)
#ini gaperlu tanda petik karena sudah didefinisikan sebelumnya

300000

In [ ]:
a= int(10)
b= int(50)
print (a*b)
#tanda * digunakan untuk perkalian

500

In [ ]:
a = input ("Input Nilai a :")
b = input ('Input Nilai b:')
total = a*b
#kode yang digunakan untuk outputnya masih salah

Input Nilai a :10
Input Nilai b:25

TypeError: ignored

In [25]:
a = input ("Input Nilai a :")
b = input ('Input Nilai b:')
total = ("a*b")
#untuk totalnya ini tidak terbaca oleh sistem
#kode untuk perkaliannya masih salah

Input Nilai a :10
Input Nilai b:25

In [ ]:
a = input ("Input Nilai a :")
b = input ('Input Nilai b:')
total = int (a)*int(b)
print ("total :" + str(total))
#string itu untuk tipe data paling umum untuk menyimpan suatu kalimat

Input Nilai a :2
Input Nilai b:6
total :12

In [ ]:
a = 10,5
b = 3,5
total = (a)+(b) 
print("total :" +str(total))
#untuk menjumlahkan data yang menggunakan bilangan desimal itu dapat menggunakan tipe data float

total :(10, 5, 3, 5)

In [ ]:
a = float (input ("nilai a : "))
b = float (input ("nilai b : "))
total = a+b 
print("total :"+ str(total))
#contoh kode untuk bilangan desimal

nilai a : 1.10
nilai b : 2.90
total :4.0

In [ ]:
buku = int (input ("jumlah buku :"))
pensil = int (input ("jumlah pensil :"))
total = buku/pensil 
print ("total :" + int(total))
#tanda/digunakan untuk operasi pembagian
#untuk menghitung total ini digunakan tipe data str bukan int

jumlah buku :100
jumlah pensil :50

TypeError: ignored

In [2]:
nama = input ('Masukkan nama anda :')
mata_kuliah = input ("Mata Kuliah anda hari ini :")
print ('Selamat Pagi '+ nama)
print ('Semangat mengikuti kelas ' +mata_kuliah)
#gunanya dikasi spasi supaaya nanti dia mau ada spasi setelah di run
#ini untuk penggunaan yang namanya diinput sendiri
#sama seperti sebelumnya, nama itu ga isi petik karena udah didefinisikan sebelumnya 
#atau udah diinput sebelumnya

Masukkan nama anda :Ardi
Mata Kuliah anda hari ini :Fisika Dasar II
Selamat Pagi Ardi
Semangat mengikuti kelas Fisika Dasar II

In [4]:
buku_di_tas = input ("Berapakah jumlah buku yang ada di tas anda? ")
buku_di_meja = input ("Berapakah jumlah buku yang ada di meja anda ")
print ('Total buku anda adalah : ' +buku_di_tas + buku_di_meja)
#ini tu dia diprint apa yang udah diinput atau didefinisikan sebelumnya dimana buku di tas itu dibuat ada 10 dan buku di meja ada 5
#jadi yang dikeluarkan adalah angka 10 dan 5 itu atau dengan kata lain dia tidak dijumlahkan

Berapakah jumlah buku yang ada di tas anda? 10
Berapakah jumlah buku yang ada di meja anda 5
Total buku anda adalah : 105

In [5]:
buku_di_tas = input ("Berapakah jumlah buku yang ada di tas anda? ")
buku_di_meja = input ("Berapakah jumlah buku yang ada di meja anda ")
total_buku = int(buku_di_tas) + int(buku_di_meja)
print ('Total buku anda adalah : ' +str(total_buku))
#ini dia udah mau keluarannya di jumlah karena sebelumnya udah didefinisikan bahwa
#untuk total buku itu pake penjumlahan dari jumlah buku di tas sama di meja
#ini untuk jumlah kita pake tipe data string

Berapakah jumlah buku yang ada di tas anda? 10
Berapakah jumlah buku yang ada di meja anda 5
Total buku anda adalah : 15

In [6]:
buku_di_tas = input ("Berapakah jumlah buku yang ada di tas anda? ")
buku_di_meja = input ("Berapakah jumlah buku yang ada di meja anda ")
total_buku = int(buku_di_tas) + int(buku_di_meja)
print ('Total buku anda adalah : ' +(total_buku))
#ini error karena tipe data di outputnya seharusnya memakai tipe str untuk menggabungkan data int di atasnya

Berapakah jumlah buku yang ada di tas anda? 10
Berapakah jumlah buku yang ada di meja anda 5

TypeError: ignored

In [7]:
buku_di_tas = input ("Berapakah jumlah buku yang ada di tas anda? ")
buku_di_meja = input ("Berapakah jumlah buku yang ada di meja anda ")
total_buku = str(buku_di_tas) + str(buku_di_meja)
print ('Total buku anda adalah : ' + str(total_buku))
#ini karena str berfungsi untuk menggabungkan dua buah data bukan untuk menjumlahkan 
#str itu menyatakan karakter/kalimat yang bisa berupa angka, huruf dll nya

Berapakah jumlah buku yang ada di tas anda? 10
Berapakah jumlah buku yang ada di meja anda 5
Total buku anda adalah : 105

In [8]:
buku_di_tas = input ("Berapakah jumlah buku yang ada di tas anda? ")
buku_di_meja = input ("Berapakah jumlah buku yang ada di meja anda ")
total_buku = str(buku_di_tas) + str(buku_di_meja)
print ('Total buku anda adalah : ' + int(total_buku))
#error karena harusnya make tipe data str untuk menjumlahkannya

Berapakah jumlah buku yang ada di tas anda? 10
Berapakah jumlah buku yang ada di meja anda 5

TypeError: ignored

In [11]:
Nama_kucing = "Agas"
Umur = "3 Tahun"
Jenis_kelamin = "Jantan"
Pemilik = "Anya"
print (Nama_kucing + " adalah peliharaan dari " + Pemilik + " yang berusia " + Umur + " dan berjenis kelamin " + Jenis_kelamin)
#sama seperti penjelasan sebelumnya. disini ada yang ga make tanda petik karena udah didefinisikan terlebih dahulu sebelumnya
#untuk yang isi tanda petik itu artinya yang bakal dihasilkan/output yang bakal diprint langsung

Agas adalah peliharaan dari Anya yang berusia 3 Tahun dan berjenis kelamin Jantan

In [12]:
Nama_kucing = input ('Masukkan nama kucing anda :')
Umur = input ('Masukkan umur kucing anda :')
Jenis_kelamin = input ('Masukkan jenis kelamin kucing anda :')
Pemilik = input ('Masukkan nama pemilik kucing :')
print (Nama_kucing + " adalah peliharaan dari " + Pemilik + " yang berusia " + Umur + " dan berjenis kelamin " + Jenis_kelamin)
#ini kalau mau bikin dia versi input datanya sendiri gitu jadi nanti nama dan lain-lainnya perlu diisi sendiri

Masukkan nama kucing anda :Agas
Masukkan umur kucing anda :3 Tahun
Masukkan jenis kelamin kucing anda :Jantan
Masukkan nama pemilik kucing :Anya
Agas adalah peliharaan dari Anya yang berusia 3 Tahun dan berjenis kelamin Jantan

In [26]:
#menghitung volume balok
p = input ("Input Nilai panjang :")
l = input ('Input Nilai lebar :')
t = input ("Input nilai tinggi :")
volume = int (p)*int(l)*int(t)
print ("Jadi volume balok tersebut adalah : " + str(volume))
#ini salah satu contoh juga penerapan data untuk menghitung volume balok dipakenya tipe integer
#dimana tipe integer adalah tipe untuk bilangan bulat positif maupun negatif
#output yang dihasilkan juga sudah sesuai dengan perhitungan normal menggunakan rumus volume balok

Input Nilai panjang :10
Input Nilai lebar :8
Input nilai tinggi :5
Jadi volume balok tersebut adalah : 400