In [ ]:
#Ini merupakan tugas III dari Matkul Algoritma

#Formatted String : dipakai untuk mempermudah penulisan nilai variabel yang 
#ingin dicetak pada perintah print
#Berikut contohnya :

Nama_kucing = "Agas"
Umur = "3 Tahun"
Jenis_kelamin = "Jantan"
Pemilik = "Anya"
print (Nama_kucing + " adalah peliharaan dari " + Pemilik + " yang berusia " + Umur + " dan berjenis kelamin " + Jenis_kelamin)

Agas adalah peliharaan dari Anya yang berusia 3 Tahun dan berjenis kelamin Jantan

In [ ]:
print (f'{Nama_kucing} adalah peliharaan dari {Pemilik} yang berusia {Umur} dan berjenis kelamin {Jenis_kelamin}')
#sama seperti penjelasan sebelumnya. disini ada yang ga make tanda petik karena udah didefinisikan terlebih dahulu sebelumnya

Agas adalah peliharaan dari Anya yang berusia 3 Tahun dan berjenis kelamin Jantan

In [ ]:
print (f"{Nama_kucing} adalah kucing {Jenis_kelamin} yang berusia {Umur}")
#untuk yang isi tanda petik itu artinya yang bakal dihasilkan/output yang bakal diprint langsung

Agas adalah kucing Jantan yang berusia 3 Tahun

In [ ]:
#String Index
#Dalam phyton, data dapat diurutkan dari 0 dan seterusnya
#kalau mau dari data paling belakang, itu jadinya -1, huruf kedua dari belakang
#itu jadinya -2 dan seeterusnya

Jurusan = "ini jurusan matematika"
print (Jurusan[0:4])
#ini karena indeks huruf i pertama itu diitung 0, terus koma juga termasuk
#karena komanya ikut juga makanya 0 sampe 4 itu tetep kata ini sama isi spasi gitu bukan ini+j
#karena standar phyton kaya gitu. kalo 0 sampe 4 memang dia itu kenanya huruf j, tapi dia keluarannya cuma sampai spasi
#dia itu jadinya kaya ilang 1 indeksnya dari yang kita inginkan
#i=0,n=1,i=2,spasinya=3,k=4, e=5 dst
#terus kalau kita manggil 10, yang dateng itu sampe 9 nya

ini

In [ ]:
Jurusan [5:2]
#ini tu dia harus dari angka kecil ke besar karena urutannya diperhatikan

''

In [ ]:
kelas = "Pada hari Senin mahasiswa prodi matematika angkatan 2022 sedang mendapatkan kelas algoritma"
print (kelas[3:10])
#ini sama kaya penjelasan sebelumnya, jadinya dia dari indeks 3 sampai

a hari

In [ ]:
kelas = 'ini kelas algoritma dan struktur data' 
print (kelas[0:40])
#ini dia ke print semua karena indeksnya cuma 36

ini kelas algoritma dan struktur data

In [ ]:
kelas[-13:-9]
#ini untuk ngeprint dari belakang gitu
#printnya harus dari bilangan negatif terkecil ke yang terbesar gitu gabisa dibalik

'stru'

In [ ]:
kelas [-9:-13]
#ini dia gabisa keluar karena harusnya -13 ke -9 bukan -9 ke -13 gitu
#tapi ini gaada error jadi ini seharusnya ada artinya juga
#dia itungannya indeks -1 dari belakang
#a=-1,t=-2, a=-3, d=-4, spasinya=-5 dst nya

''

In [ ]:
kelas [0:-1]
#untuk huruf atau indeks paling akhir itu dinilai -1
#karena mulai dari 0 makanya dia dari depan sampe indeks sebelum -1 atau indeks
#kedua dari belakang

'ini kelas algoritma dan struktur dat'

In [ ]:
#string methods
judul = 'Beauty and the Beast'
print(len(judul))
#ini untuk menentukan panjangnya judul ada berapa (ini termasuk spasi)
#urutan indeksnya 0

20

In [ ]:
judul.upper()
#ini dia jadi capslock semua kalo make upper

'BEAUTY AND THE BEAST'

In [ ]:
judul.lower()
#ini untuk bikin tulisan kecil semua
#kalau mau bikin beberapa aja besar hurufnya, dia makenya for gabisa make methods gini

'beauty and the beast'

In [ ]:
judul.find(the)
#ini error karena kurang tanda petik
#sebelumnya the itu udah didefinisikan sebagai satu kesatuan dengan judul
#jadi gabisa dipecah gitu tanpa petik

NameError: ignored

In [ ]:
judul.find('the')
#ini urutannya dia mulai dari 0 dst nya

11

In [ ]:
judul.find('Beauty')
#Karena di judulnya diaa Beauty huruf besar makanya dia bisa terdeteksi 0 gitu

0

In [ ]:
judul.find('beauty')
#karena di judul awal dia huruf besar, bukan huruf kecil gitu

-1

In [ ]:
judul.find('BEAUTY')
#ini juga karena diaa di judul awal ga semua hurufnya besar

-1

In [ ]:
judul.replace("Beauty", "Belle")
#ini untuk mengganti judulnya gitu

'Belle and the Beast'

In [ ]:
judul.replace("beauty", "Belle")
#ini dia beauty nya tidak terdefinisi karena di awal judulnya pake B besar
#sehingga dia tetap dikeluarkan judul yang lama

'Beauty and the Beast'

In [ ]:
print('Beauty'in judul)
#ini sesuai dengan judul yang udah didefinisikan sebelumnya

True

In [25]:
print('beauty'in judul)
#ini sesuai dengan judul yang udah didefinisikan sebelumnya

False

In [32]:
#Operasi Matematika
print (6*9)
#kalau disini tanda kali diganti jadi*

54

In [34]:
#contoh modulo
print (6%2)
#modulo itu artinya sisa bagi dari kedua bilangan itu

0

In [35]:
print (3**15)
#ini digunakan untuk pemangkatan

14348907

In [36]:
print (9//2)
#ini digunakan untuk pembulatan pembagian bilangan

4

In [40]:
x+=3
print (x)
#ini artinya x=x+3
#jadi nilai x yang memenuhi itu 0 karena 3=0+3 gitu

0

In [ ]:
#perbandingan
x = 5<8
print (x)
#ini tipe data bolean buat nentuin benar atau salah

True

In [ ]:
x =8<5 
print (x)
#karena 8 seharusnya lebih besar dari 5

False

In [44]:
X = 4 >= 3
print (X)
#ini benar karena X nya itu 4 dimana 4 itu lebih dari sama dgn 3

True

In [47]:
type (X)
#ini untuk mencari tahu tipe data dari si X itu apa

bool

In [48]:
xx = 10>5
print (-xx)
#true itu jadi -1
#kalau false itu jadi -2

-1

In [49]:
a = 9==9 
print (-a)
#kalau pakenya -a nanti dia keluarnya -1 atau -2
#yang mana untuk -1 itu true -2 itu false seperti penjelasan sebelumnya

-1

In [50]:
xx = 10<7
print (xx)
#sama seperti penjelasan sebelumnya, ini merupakan tipe data bool yaitu benar
#atau salah

False

In [56]:
a = 10<7
print (~a)
#~artinya negasi gitu jadi hasil yang keluar merupakan kebalikan sari  hasil
#yang sebenarnya

-1

In [60]:
#operator logika
bunga_mawar = 10
bunga_melati = 15
print (bunga_mawar > 8 and bunga_melati < 10)
#ini dia kaya di materi pmm yang kalau true dan true maka dia true

False

In [61]:
print(bunga_mawar < 8 or bunga_melati >10)
#ini juga di materi pmm
#jika benar atau salah maka benar dst nya

True

In [62]:
print(bunga_mawar >8 or bunga_melati<20)
#ini true or true maka dia true

True

In [72]:
#Operator if 
#untuk dapat menjalankan operator if, maka nilai variabelnya harus true dulu
#kalau nilai variabelnya false maka operator if tidak bisa dijalankan

nilai_penjurian = float (input ("Nilai total anda adalah :"))
if nilai_penjurian >= 85 :
  print ("Selamat anda dinyatakan lolos seleksi kerja!")
  print ("Predikat nilai anda adalah A")
if nilai_penjurian <80 and nilai_penjurian >=75 :
  print ("Anda berhak lanjut ke tahap wawancara")
  print ("Predikat nilai anda adalah B+")
if nilai_penjurian <75 and nilai_penjurian >= 70 :
  print ("Anda perlu melampirkan portofolio untuk membantu kelulusan anda")
  print ("Predikat nilai anda adalah B")
if nilai_penjurian <70 :
  print ("Maaf, anda dinyatakan tidak lolos seleksi")
  print ("Predikat nilai anda adalah C")

Nilai total anda adalah :95
Selamat anda dinyatakan lolos seleksi kerja!
Predikat nilai anda adalah A

In [76]:
#contoh lain tentang operator if 
penghasilan = int(input("Masukkan jumlah pendapatan Anda per bulan :"))
a = str(input ("Status dalam pekerjaan :"))
b = str(input ("Aset yang dimiliki :"))

if penghasilan >= 5000000 :
  print ("Pendapatan Anda termasuk di atas UMR")
  if a : 
    print("Wajib membayar pajak penghasilan")
  else :
    print("Belum memenuhi ketentuan wajib pajak")

  if b == "Motor" or b == "Mobil" or b == "Rumah" :
    print("Wajib bayar pajak aset")
  else :
    print("Tidak wajib bayar pajak aset")

else :
  print("Pendapatan yang diperoleh masih di bawah UMR yang ditetapkan pemerintah")

#ini dia keluar tidak wajib bayar pajak aset karena tulisan rumahnya tidak sesuai 
#dengan yang sudah ditetapkan/dituliskan seebelumnya

Masukkan jumlah pendapatan Anda per bulan :5000000
Status :pegawai tetap
Aset yang dimiliki :rumah
Pendapatan Anda termasuk di atas UMR
Wajib membayar pajak penghasilan
Tidak wajib bayar pajak aset

In [77]:
penghasilan = int(input("Masukkan jumlah pendapatan Anda per bulan :"))
a = str(input ("Status dalam pekerjaan :"))
b = str(input ("Aset yang dimiliki :"))

if penghasilan >= 5000000 :
  print ("Pendapatan Anda termasuk di atas UMR")
  if a : 
    print("Wajib membayar pajak penghasilan")
  else :
    print("Belum memenuhi ketentuan wajib pajak")

  if b == "Motor" or b == "Mobil" or b == "Rumah" :
    print("Wajib bayar pajak aset")
  else :
    print("Tidak wajib bayar pajak aset")

else :
  print("Pendapatan yang diperoleh masih di bawah UMR yang ditetapkan pemerintah")

#di sini baru wajib pajak aset karena pas input atau masukin datanya untuk 
#rumah itu dia pake huruf besar sehingga sesuai dengan yang telah didefinisikan

Masukkan jumlah pendapatan Anda per bulan :5000000
Status dalam pekerjaan :karyawan tetap
Aset yang dimiliki :Rumah
Pendapatan Anda termasuk di atas UMR
Wajib membayar pajak penghasilan
Wajib bayar pajak aset

In [78]:
penghasilan = int(input("Masukkan jumlah pendapatan Anda per bulan :"))
a = str(input ("Status dalam pekerjaan :"))
b = str(input ("Aset yang dimiliki :"))

if penghasilan >= 5000000 :
  print ("Pendapatan Anda termasuk di atas UMR")
  if a : 
    print("Wajib membayar pajak penghasilan")
  else :
    print("Belum memenuhi ketentuan wajib pajak")

  if b == "Motor" or b == "Mobil" or b == "Rumah" :
    print("Wajib bayar pajak aset")
  else :
    print("Tidak wajib bayar pajak aset")

else :
  print("Pendapatan yang diperoleh masih di bawah UMR yang ditetapkan pemerintah")

#di kasus ini biarpun dia punya motor, tetapi dari awal pendapatan dia itu
#kurang dari 5 juta makanya operator if ini tidak bisa dijalankan selanjutnya

Masukkan jumlah pendapatan Anda per bulan :2000000
Status dalam pekerjaan :Karyawan kontrak
Aset yang dimiliki :Motor
Pendapatan yang diperoleh masih di bawah UMR yang ditetapkan pemerintah